<ion-header>
  <ion-toolbar>
    <ion-title>
      Creación de productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
       <p>Cerrar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="body">
    <form [formGroup]="productForm" (submit)="submit()">
      <ion-input type="hidden" formControlName="roomId" value></ion-input>
    <div class="main">
      <div class="input-container">
        <ion-input fill="outline" placeholder="Compras casa" label-placement="floating" label="Nombre" formControlName="name" type="text" [autocapitalize]="true" ></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="productForm.get('name')!" [message]="'Debe introducir un nombre'" [error]="'required'"></app-error-message>
        </div>
      </div>

      <div class="input-container">
        <div class="box">
          <ion-select multiple="true" formControlName="categoryIds" cancelText="Cerrar" okText="Aceptar" labelPlacement="floating" label="Categorías" >
            <ion-select-option *ngFor="let option of categories" [value]="option.id">{{ option.name }}</ion-select-option>
            @if (categories.length < 1) {
              <p>No hay categorías registradas</p>
              <ion-select-option disabled="true">No hay categorías registradas</ion-select-option>
            }
          </ion-select>
        </div>
        <ion-button fill="clear" (click)="createCategory()">Crear categoría</ion-button>
      </div>
    </div>

      <ion-button class="floating" expand="full" type="submit" [disabled]="!productForm.valid" shape="round" (click)="submit">Crear</ion-button>
    </form>
  </div>
</ion-content>
