<ion-header >
  <ion-toolbar>
    <ion-title class="appbar">Selección de sala</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  @for (room of rooms; track $index) {
    <div class="rooms-card">
      <ion-card button="true" type="button" (click)="onRoomSelected($index)">
        <ion-card-header>
          <ion-card-title>{{room.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{room.description}}
        </ion-card-content>


        <ion-button fill="clear" (click)="copyToClipboard($event, $index)"><ion-label>{{room.code}}</ion-label> <ion-icon name="copy-outline"></ion-icon></ion-button>
      </ion-card>
    </div>
  }

  @if(rooms.length === 0) {
    <div class="no-rooms">
      <ion-icon name="sad-outline"></ion-icon>
      <p>No hay salas disponibles, pero siempre puedes crear una</p>

    </div>
  }

  <ion-buttons class="join-button">

    <ion-button fill="solid" shape="round" (click)="createRoom()">
      <p style="padding: 0px 20px;">Crear sala</p>
    </ion-button>

    <ion-button fill="solid" shape="round" (click)="seacrhRoom()">
      <p style="padding: 0px 20px;">Buscar sala</p>
    </ion-button>
  </ion-buttons>

</ion-content>
