<ion-header >
  <ion-toolbar style=" --border-color: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-room"></ion-back-button>
    </ion-buttons>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div class="appbar">
        <h1><strong>Notas</strong></h1>
        <ion-button fill="clear" color="success" (click)="changeEditionStatus()" *ngIf="onEdition">Aceptar</ion-button>
        <ion-button fill="clear" color="danger" (click)="changeEditionStatus()" *ngIf="!onEdition">Editar</ion-button>
      </div>
    </ion-toolbar>
</ion-header>
  @for (note of notes; track $index) {
    <div class="rooms-card">
      <ion-card button="true" type="button" >
        <ion-card-header>
          <ion-card-title>{{note.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{note.body}}
        </ion-card-content>

        <div class="buttons-row">
          <ion-button color="danger" fill="clear" *ngIf="onEdition" (click)="deleteNote(note)">Eliminar</ion-button>
        </div>


      </ion-card>
    </div>
  }


  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="createNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
