<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-room"></ion-back-button>
    </ion-buttons>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Miembros</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (person of members; track $index) {
    <ion-item>
      <ion-avatar >{{person.name.slice(0,2)}}</ion-avatar>
      <ion-label>{{person.name}}</ion-label>
      <ion-button fill="clear" *ngIf="user.id===person.id">Abandonar sala</ion-button>
      <ion-button fill="clear" *ngIf="user.id!==person.id && isOwner">Expulsar</ion-button>
    </ion-item>
  }
</ion-content>
